:

java -Xmx3000m -classpath {libs}:./lib/randoop-all-4.1.1.jar randoop.main.Main gentests --testclass={classz} --error-test-basename={shortClassName}ErrTest --regression-test-basename={shortClassName}RegTest --junit-package-name={packName}--time-limit={timeOut} --junit-output-dir={outDir} --testsperfile=100 --silently-ignore-bad-class-names=true --omitmethods=random --no-error-revealing-tests=true --null-ratio=0.1 --forbid-null=false --string-maxlen=5000 --clear=10000 

